{% extends 'base.html.twig' %}

{% block title %}Transfert{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 p-5 rounded text-center" id="home-conteneur">

    <h1 class="mb-3">Détails du virement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Montant</th>
                <td>{{ transfert.amount }}</td>
            </tr>
            <tr>
                <th>Libellé du Bénéficiaire</th>
                <td>{{ transfert.beneficiary.wording }}</td>
            </tr>
            <tr>
                <th>Identité du bénéficiaire</th>
                <td>{{ transfert.beneficiary.lastName }}  {{ transfert.beneficiary.firstName }}</td>
            </tr>
            <tr>
                <th>Iban du bénéficiaire</th>
                <td>{{ transfert.beneficiary.iban }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_transfert_index') }}">Retour à l'historique de vos virements</a>
</div>
{% endblock %}
