{% extends 'base.html.twig' %}

{% block title %}Beneficiary index{% endblock %}

{% block body %}
    <h1>Beneficiary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Wording</th>
                <th>Iban</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiary in beneficiaries %}
            <tr>
                <td>{{ beneficiary.id }}</td>
                <td>{{ beneficiary.lastName }}</td>
                <td>{{ beneficiary.firstName }}</td>
                <td>{{ beneficiary.wording }}</td>
                <td>{{ beneficiary.iban }}</td>
                <td>
                    <a href="{{ path('app_beneficiary_show', {'id': beneficiary.id}) }}">show</a>
                    <a href="{{ path('app_beneficiary_edit', {'id': beneficiary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_beneficiary_new') }}">Create new</a>
{% endblock %}
