<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('app_home')}}">Page d'Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_user_index')}}">Demande de compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_banker_beneficiary_index')}}">Demande de bénéficiaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_transfert_index')}}">Liste des virements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_banker_logout')}}">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
        </div>
    </div>
</div>
