{% extends 'base.html.twig' %}

{% block title %}Beneficiary{% endblock %}

{% block body %}
    <h1>Beneficiary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beneficiary.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ beneficiary.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ beneficiary.firstName }}</td>
            </tr>
            <tr>
                <th>Wording</th>
                <td>{{ beneficiary.wording }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ beneficiary.iban }}</td>
            </tr>
            <tr>
                <th>Sender</th>
                <td>{{ beneficiary.sender.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banker_beneficiary_index') }}">back to list</a>

    <a href="{{ path('app_banker_beneficiary_edit', {'id': beneficiary.id}) }}">edit</a>

    {{ include('beneficiary/_delete_form.html.twig') }}
{% endblock %}
