{% extends 'base.html.twig' %}

{% block title %}Beneficiary index{% endblock %}

{% block body %}
    <h1>Beneficiary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Libellé</th>
                <th>Iban</th>
                <th>Etat de la demande<th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiary in beneficiaries %}
            <tr>
                <td>{{ beneficiary.lastName }}</td>
                <td>{{ beneficiary.firstName }}</td>
                <td>{{ beneficiary.wording }}</td>
                <td>{{ beneficiary.iban }}</td>
                <td>{{ beneficiary.sender.accountId }}</td>
                <td>{{ beneficiary.state }}</td>
                <td>
                    <a href="{{ path('app_banker_beneficiary_show', {'id': beneficiary.id}) }}">Voir les détails</a>
                    <a href="{{ path('app_banker_beneficiary_edit', {'id': beneficiary.id}) }}">Valider la demande</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune demande d'ajoût de bénéficiaire trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
