{% extends 'base.html.twig' %}

{% block title %}Beneficiary index{% endblock %}

{% block body %}
{{ include('banker/_nav.html.twig') }}

<div class="container text-center">
    <h1>Demandes bénéficiaires</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Attribué à</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Libellé</th>
                <th>Iban</th>
                <th>Client</th>
                <th>Etat de la demande</th>
                <th>Infos</th>
                <th>Validation</th>
            </tr>
        </thead>
        <tbody>
        {% for beneficiary in beneficiaries %}
            <tr>
                <td>{{beneficiary.sender.banker.username}}</td>
                <td>{{ beneficiary.lastName }}</td>
                <td>{{ beneficiary.firstName }}</td>
                <td>{{ beneficiary.wording }}</td>
                <td>{{ beneficiary.iban }}</td>
                <td>{{ beneficiary.sender.accountId }}</td>
                <td>{{ beneficiary.state }}</td>
                <td>
                    <a href="{{ path('app_banker_beneficiary_show', {'id': beneficiary.id}) }}">Voir les détails</a>
                </td>
                <td><a href="{{ path('app_banker_beneficiary_edit', {'id': beneficiary.id}) }}" class="btn btn-warning" role="button">Valider la demande</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune demande d'ajoût de bénéficiaire trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
