{% extends 'base.html.twig' %}

{% block title %}Banker index{% endblock %}

{% block body %}
{{ include('banker/_nav.html.twig') }}
    <h1>Banker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banker in bankers %}
            <tr>
                <td>{{ banker.id }}</td>
                <td>{{ banker.username }}</td>
                <td>{{ banker.roles ? banker.roles|json_encode : '' }}</td>
                <td>{{ banker.password }}</td>
                <td>
                    <a href="{{ path('app_banker_show_banker', {'id': banker.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
