{% extends 'base.html.twig' %}

{% block title %}Index des virements{% endblock %}

{% block body %}
{{ include('banker/_nav.html.twig') }}
<div class="container text-center">

    <h1>Transfert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Conseiller</th>
                <th>Montant</th>
                <th>N° de compte de l'envoi</th>
                <th>Bénéficiaire</th>
                <th>Supprimer un virement</th>
            </tr>
        </thead>
        <tbody>
        {% for transfert in transferts %}
            <tr>
                <td>{{transfert.sender.banker.username}}</td>
                <td>{{ transfert.amount }}</td>
                <td>{{transfert.sender.accountId}}</td>
                <td>{{transfert.beneficiary.iban}}</td>
                <td>{{ include('transfert/_delete_form.html.twig') }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun virement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
