{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{{ include('banker/_nav.html.twig') }}
<div class="container text-center">
    
    <h1>List des création de compte</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Etat du dossier</th>
                    <th>N° de compte</th>
                    <th>Date de la demande : </th>
                    <th>Banquier attitré</th>
                    <th>Infos</th>
                    <th>Validation</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.state }}</td>
                    <td>{{ user.accountId }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                    {% if user.banker is not null %}
                    <td>{{user.banker.username}}</td>
                    {% endif %}
                
                    <td>
                        <a href="{{ path('app_banker_user_show', {'id': user.id}) }}">Infos</a>
                    </td>
                    <td>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Valider</a>
                    </td>
                </tr>
            </div>
            {% else %}
                <tr>
                    <td colspan="16">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
