{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container-fluid text-align-center">
    
    <h1>List des création de compte</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Etat du dossier</th>
                    <th scope="col">N° de compte</th>
                    <th scope="col">Date de la demande : </th>
                    <th scope="col">Banquier attitré</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row">{{ user.email }}</td>
                    <td>{{ user.state }}</td>
                    <td>{{ user.accountId }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                    {% if user.banker is not null %}
                    <td>{{user.banker.username}}</td>
                    {% endif %}
                
                    <td>
                        <a href="{{ path('app_banker_user_show', {'id': user.id}) }}">Voir les détails</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Valider le compte</a>
                    </td>
                </tr>
            </div>
            {% else %}
                <tr>
                    <td colspan="16">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
