{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{{ include('banker/_nav.html.twig') }}

<div class="container text-center">
    <h1>N° de compte {{user.accountId}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Etat du dossier</th>
                <td>{{ user.state }}</td>
            </tr>
            <tr>
                <th>Date d'anniversaire</th>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant du compte</th>
                <td>{{ user.account }}</td>
            </tr>
            <tr>
                <th>N° de compte</th>
                <td>{{ user.accountId }}</td>
            </tr>
            <tr>
                <th>IdCardImg</th>
                <td>{{ user.idCardImg }}</td>
            </tr>
            <tr>
                <th>Date de la demande :</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Document d'identité téléchargé</th>
                <td><img src="{{ vich_uploader_asset(user, 'fileIdCardImg') }}" style="width : 50vw"></td>
            </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{{ path('app_user_index') }}" class="btn btn-warning mt-5">Retour à la liste</a><br>
        </div>
        <div class="col-auto">
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning mt-5">Valider le compte</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
    
</div>
{% endblock %}

